*{
    background-color:#020219;
    color:#D98BB6;
}
#main{
    overflow:hidden;
}
#nav{
    position:absolute;
    height:100%;
    width:100%;
    z-index:99;
    background-color:#020219;
    left:0px;
    top:0px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#nav *{
    font-size:26px;
}
#open{
    font-size:24px;
}
#close{
    font-size:18px;
}
#navContainer{
    background-image: url("Galaxy.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-size: cover; 
    display:flex;
    flex-direction: row;
    align-items:center;
    height:330px;
    font-size:22px;
}
#close{
    position:absolute;
    top:15px;
    right:15px;
}
.text{
    background-color: transparent;
    padding:2px 5px;
}
#navRight{
    margin-left:auto;
}
img{
    background-color: transparent;
}
#none{
    background-color: white;

}
#title{
    display:flex;
    flex-direction:column;
    align-items:center;
}
#columns{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:10px;
    font-size:larger;
}
#name{
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin:20px 0;
}
#quotes{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:10px;
    font-size:8px;
}
footer{
    background-image: url("Galaxy.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    
    background-size: cover; 
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:330px;
}
table, tr, th, td {
    border: 1px solid #D98BB6;
    background-color:transparent;
  }
footer div{
    background-color:transparent;
    padding: 2px 5px;
}
.break{
    border: 1.5px solid #D98BB6;
    width:100%;
}


@media screen and (min-width: 480px) {
    
    #main{overflow:auto;}

    #navContainer, #navContainer *{
        font-size: 20px;
    }

    #navRight{margin-left:10px;}

    #pic{margin-right:0px;}

    #nav{
        position:static;
        display:flex;
        flex-direction: row;
        align-items: center;
        background-color:transparent;
    }

    #close{display:none;}

    #open{display:none;}

    h1{font-size:45px;}

    h2{font-size:35px;}

    h3{font-size:25px;}
    
    #columns{font-size: 20px;}

    .columnsA{flex:48%;}
    
    .columnsB{
        flex:48%;
        padding-left: 5px; 
        border-left: 2px solid #D98BB6 
      }

      #name{font-size:15px;}

    #quoteA{font-size:20px;}
    
    #quoteB{font-size:20px;}

      footer div{font-size:20px;}

      }
      